%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= I18n.t('views.devise.registrations.sign_up')
    = link_to user_facebook_omniauth_authorize_path, class: "general-login-icon" do
      %i.fa.fa-facebook-official
    %p.general-login-text= I18n.t('views.devise.registrations.or')
  .general-form
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group.mb-30
        = f.label :email, I18n.t('views.devise.registrations.enter_email'), class:"control-label input-label"
        = f.input :email, required: false, input_html: { autocomplete: "email" }, label: false
      .form-group.mb-30
        = f.label :password, I18n.t('views.devise.registrations.password'), class:"control-label input-label"
        = f.input :password, label:false, required: true, input_html: { autocomplete: "new-password" }
      .form-group.mb-30
        = f.label :password_confirmation, I18n.t('views.devise.registrations.confirm_password'), class:"control-label input-label"
        = f.input :password_confirmation, label:false, required: true, input_html: { autocomplete: "new-password" }
      - if devise_mapping.rememberable?
        .form-group.checkbox.text-center.mb-30
          %label.checkbox-label
            = f.check_box :remember_me, { class: 'checkbox-input', hidden: 'true', id: 'remember_me' }, 'true', 'false'
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text
              = I18n.t('views.devise.registrations.remember_me')
      .text-center
        = f.button :submit, I18n.t('views.devise.registrations.sign_up'), class:"btn btn-default mb-20"
  %p.general-sign-text.text-center
    = I18n.t('views.devise.registrations.have_account')
    - if controller_name != 'sessions'
      = link_to I18n.t('views.devise.registrations.log_in'), new_session_path(resource_name), class:"in-gold-500"
