<main class="container general-main-wrap">
  <div class="text-center">
    <h3 class="general-login-title"><%= I18n.t('views.devise.registrations.sign_up') %></h3>
    <%= link_to user_facebook_omniauth_authorize_path, class: "general-login-icon" do %>
    <i class="fa fa-facebook-official"></i>
  <% end %>
  <p class="general-login-text"><%= I18n.t('views.devise.registrations.or') %></p>
</div>
<div class="general-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group mb-30">
    <%= f.label :email, I18n.t('views.devise.registrations.enter_email'), class:"control-label input-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group mb-30">
    <%= f.label :password, I18n.t('views.devise.registrations.password'), class:"control-label input-label" %>
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
  </div>
  <div class="form-group mb-30">
    <%= f.label :password_confirmation, I18n.t('views.devise.registrations.confirm_password'), class:"control-label input-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="form-group checkbox text-center mb-30">
      <label class="checkbox-label">
        <%= f.check_box :remember_me, { class: 'checkbox-input', hidden: 'true', id: 'remember_me' }, 'true', 'false' %>
        <span class="checkbox-icon">
          <i class="fa fa-check"></i>
        </span>
        <span class="checkbox-text">
          <%= I18n.t('views.devise.registrations.remember_me') %>
        </span>
      </label>
    </div>
  <% end %>
  <div class="text-center">
    <%= f.button :submit, I18n.t('views.devise.registrations.sign_up'), class:"btn btn-default mb-20" %>
  </div>
<% end %>
</div>
<p class="general-sign-text text-center"><%= I18n.t('views.devise.registrations.have_account') %>
<% if controller_name != 'sessions' %>
  <%= link_to I18n.t('views.devise.registrations.log_in'), new_session_path(resource_name), class:"in-gold-500" %>
<% end %>
</p>
</main>
