.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600= I18n.t('views.checkout.book')
        %th.col-method
        %th
          %span.in-grey-600= I18n.t('views.checkout.price')
        %th
          %span.in-grey-600= I18n.t('views.checkout.quantity')
        %th
          %span.in-grey-600= I18n.t('views.checkout.total')
    %tbody
      - order.line_items.each do |line_item|
        %tr
          %td
            .general-img-wrap-table
              = link_to line_item.book.images.first.url do
                = image_tag line_item.book.images.first.url, class: "img-shadow general-thumbnail-img", alt: "design-book"
          %td
            %p.title
              = line_item.book.title
            %p.in-grey-600.fw-300
              = truncate(line_item.book.description, :length => 250)
          %td
            %span.font-16.in-gold-500
              = number_to_currency(line_item.book.price, unit: "€")
          %td
            %span.ml-30
              = line_item.quantity
          %td
            %span.font-16.in-gold-500
              = number_to_currency(line_item.total_price, unit: "€")
