%tr
  %td
    %p.font-16= I18n.t('views.checkout.subtotal_summary')
  %td
    %p.font-16= number_to_currency(order.total_price, unit: "€")
%tr
  %td
    %p.font-16= I18n.t('views.checkout.coupon_summary')
  %td
    %p.font-16= number_to_currency(order.discount, unit: "€")
%tr
  %td
    %strong.font-18= I18n.t('views.checkout.order_total_summary')
  %td
    %strong.font-18= number_to_currency(order.total_order_price, unit: "€")
