%tr
  %td
    %p.font-16= t('views.checkout.subtotal_summary')
  %td
    %p.font-16= number_to_currency(order.total_price)
%tr
  %td
    %p.font-16= t('views.checkout.coupon_summary')
  %td
    %p.font-16= number_to_currency(order.discount)
%tr
  %td
    %strong.font-18= t('views.checkout.order_total_summary')
  %td
    %strong.font-18= number_to_currency(order.total_order_price)
