<main class="container">
  <h1 class="general-title-margin">Checkout</h1>
  <ul class="steps list-inline">
    <% wizard_steps[1,5].each_with_index do |step, index| %>
      <li class="<%= step_state(step) %> step">
        <%= link_to wizard_path(step), class: 'step-link' do %>
        <span class="step-number">
          <%= index + 1 unless past_step?(step) %>
          <% if past_step?(step) %>
            <i class="fa fa-check step-icon"></i>
          <% end %>
        </span>
        <span class="step-text hidden-xs">
          <%= step.capitalize %>
        </span>
      <% end %>
    </li>
    <% unless step == :complete %>
      <li class="step-divider"></li>
    <% end %>
  <% end %>
</ul>
  <%= simple_form_for current_order, url: wizard_path, method: :put, class: 'res-mb-100' do |form| %>
  <div class="hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-5">
        <h3 class="general-subtitle">Billing Address</h3>
        <p class="general-info-text">all fields are required</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3 class="general-subtitle">Shipping Address</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 mb-40">
      <div class="visible-xs visible-sm">
        <h3 class="general-subtitle">Billing Address</h3>
        <p class="general-info-text">all fields are required</p>
      </div>
      <%= form.simple_fields_for :billing, Address.new(cast: :shipping) do |f| %>
        <%= render 'addresses_form', f: f, cast: "billing" %>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-1 mb-60">
      <div class="visible-xs visible-sm">
        <h3 class="general-subtitle">Shipping Address</h3>
      </div>
      <%= form.simple_fields_for :shipping, Address.new(cast: :shipping) do |f| %>
        <%= render 'addresses_form', f: f, cast: "shipping" %>
      <% end %>
      <div class="form-group checkbox">
        <label class="checkbox-label">
          <input type="checkbox" hidden="true" class="checkbox-input"/>
          <span class="checkbox-icon">
            <i class="fa fa-check"></i>
          </span>
          <span class="checkbox-text">Use Billing Adress</span></label>
      </div>
    </div>
  </div>
  <div class="general-text-align mb-60">
    <p class="in-gold-500 font-18">Order Summary</p>
    <table class="general-summary-table">
      <tr>
        <td>
          <p class="font-16">Item Total:</p>
        </td>
        <td>
          <p class="font-16">€<%= current_order.total_price %></p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="font-16">Order Total:</p>
        </td>
        <td>
          <p class="font-16">€<%= current_order.total_order_price %></p>
        </td>
      </tr>
    </table>
  </div>
  <div class="actions text-center">
    <%= form.submit "Save and Continue", class: 'btn btn-default mb-20' %>
  </div>
<% end %>

</main>
