%main.container.general-main-wrap
  %h1.general-title-margin= I18n.t('views.checkout.checkout_title')
  = render 'steps_header'
  .row.mb-20
    = render 'confirm_addresses', addresses: OrderAddressesDecorator.decorate_collection(@checkout.addresses), order: @checkout
    .col-sm-3
      %h3.general-subtitle= I18n.t('views.checkout.shipments')
      %p.general-address
        = @checkout.delivery.name
        = link_to I18n.t('views.checkout.edit'), checkout_path(:delivery), class: "general-edit"
        %br/
        = @checkout.delivery.time
    .col-sm-3
      %h3.general-subtitle= I18n.t('views.checkout.payment_information')
      %p.general-address
        = @checkout.show_credit_card
        = link_to I18n.t('views.checkout.edit'), checkout_path(:payment), class: "general-edit"
        %br/
        = @checkout.show_expiration_month_year
  = render 'order_items_mobile', order: @checkout
  = render 'order_items', order: @checkout
  .text-center.general-text-right
    %p.in-gold-500.font-18= I18n.t('views.checkout.order_summary')
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'order_summary', order: @checkout
  .text-center
    = button_to I18n.t('views.checkout.place_order'), wizard_path, method: :put, class: 'btn btn-default mb-20'
