<main class="container general-main-wrap">
  <h1 class="general-title-margin">Checkout</h1>
  <%= render 'steps_header' %>
  <h3 class="general-subtitle">Shipping Method</h3>
  <%= simple_form_for current_order, url: wizard_path do |form| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-method">
            <span class="in-grey-600 ml-40">Method</span></th>
          <th>
            <span class="in-grey-600">Days</span></th>
          <th>
            <span class="in-grey-600">Price</span></th>
        </tr>
      </thead>
      <tbody>
        <%= form.collection_radio_buttons :delivery_id, @deliveries, :id, :name do |line_item| %>
          <tr>
            <td>
              <div class="form-group radio mt-0 mb-0">
                <%= line_item.label(class: 'radio-label') do %>
                  <%= line_item.radio_button(class: 'radio-input', hidden: "true") %>
                  <span class="radio-icon"></span>
                  <span class="radio-text">
                    <%= line_item.text %>
                  </span>
                <% end %>
              </div>
            </td>
            <td>
              <span>
                <%= line_item.object.time %>
              </span>
            </td>
            <td>
              <span class="font-16 in-gold-500">
                <%= number_to_currency(line_item.object.price, unit: "€") %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div class="general-text-align">
    <p class="in-gold-500 font-18">Order Summary</p>
    <table class="general-summary-table">
      <%= render 'order_summary', order: current_order %>
    </table>
  </div>
  <div class="actions text-center">
    <%= form.submit 'Save and Continue', class: 'btn btn-default mb-20' %>
  </div>
<% end %>
</main>
