<main class="container mb-res-50">
  <h1 class="general-title-margin">Checkout</h1>
  <%= render 'steps_header' %>
  <h3 class="general-subtitle">Credit Card</h3>
  <%= simple_form_for @checkout, url: wizard_path, method: :put, html: {class: 'max-600'} do |form| %>
  <%= form.input :card_number, required: false, label: 'Card Number', placeholder: 'Card Number' %>
  <div class="row">
    <div class="col-sm-6">
      <%= form.input :name, required: false, placeholder: 'Name on Card' %>
    </div>
    <div class="col-sm-3">
      <%= form.input :expiration_month_year, label: 'MM / YY', required: false, placeholder: 'MM / YY' %>
    </div>
    <div class="col-sm-3">
      <%= form.input :cvv, label: 'CVV', required: false, placeholder: 'CVV', input_html: { class: 'relative' } %>
      <i class="fa fa-question-circle general-form-help pr-15" data-placement="<%= :top %>" data-toggle="tooltip" title="3-digit security code, usually found on the back of your card. American Express cards has 4-digit code, located on the front"></i>
    </div>
  </div>
  <div class="general-text-align">
    <p class="in-gold-500 font-18">Order Summary</p>
    <table class="general-summary-table">
      <%= render 'order_summary', order: current_order %>
    </table>
  </div>
  <div class="pull-right">
    <%= form.submit 'Save and Continue', class: 'btn btn-default mb-80' %>
  </div>
<% end %>
</main>
