<main class="container general-main-wrap">
  <div class="text-center">
    <h1 class="mb-30">
      <%= I18n.t('views.devise.passwords.forgot_password') %>
    </h1>
    <p class="general-password-text">
      <%= I18n.t('views.devise.passwords.instructions') %>
    </p>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "general-form" }) do |f| %>
  <div class="form-group mb-25">
    <%= f.input :email, required: false,placeholder: I18n.t('views.devise.passwords.enter_email'), input_html: { autocomplete: "email" }, label: false %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('views.devise.passwords.email_instructions'), class: "btn btn-default center-block mb-20", id: 'reset-btn' %>
  </div>
  <div class="text-center">
    <a class="in-gold-500 mb-20" href="<%= root_path %>">
      <%= I18n.t('views.devise.passwords.cancel') %>
    </a>
  </div>
<% end %>
</main>
