%ul.dropdown-menu
  %li
    = link_to t('controllers.orders.all'), orders_path(order_status: 'all_orders')
  %li
    = link_to t('controllers.orders.processing'), orders_path(order_status: 'in_queue')
  %li
    = link_to t('controllers.orders.in_delivery'), orders_path(order_status: 'in_delivery')
  %li
    = link_to t('controllers.orders.delivered'), orders_path(order_status: 'delivered')
  %li
    = link_to t('controllers.orders.canceled'), orders_path(order_status: 'canceled')
