<main class="container general-main-wrap">
  <h1 class="mt-0 mb-25">My Orders</h1>
  <p class="lead small mb-10 visible-xs">Sort by</p>
  <div class="dropdowns dropdown general-order-dropdown">
    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small">
      <%= @filter %>
      <i class="fa fa-angle-down dropdown-icon pull-right"></i>
    </a>
    <%= render 'filter' %>
  </div>
  <div class="visible-xs">
    <% @orders.each do |order| %>
    <div class="general-cart-item divider-lg-bottom pt-0">
      <table class="table">
        <tr>
          <td class="col-half">
            <span class="in-grey-600">Number</span></td>
          <td class="col-half">
            <span class="general-order-number"><%= order.number %></span></td>
        </tr>
        <tr>
          <td>
            <span class="in-grey-600">Completed at</span></td>
          <td>
            <span class="in-grey-900 font-16 fw-300"><%= order.date %></span></td>
        </tr>
        <tr>
          <td>
            <span class="in-grey-600">Status</span></td>
          <td>
            <span class="font-16 in-grey-900 fw-300"><%= order.status_capitalize %></span></td>
        </tr>
        <tr>
          <td>
            <span class="in-grey-600">Total</span></td>
          <td>
            <strong class="font-16"><%= number_to_currency(order.total_price, unit: "€") %></strong>
          </td>
        </tr>
      </table>
    </div>
    <% end %>
  </div>
  <div class="hidden-xs mb-res-50">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <span class="in-grey-600">Number</span></th>
          <th>
            <span class="in-grey-600">Completed at</span></th>
          <th>
            <span class="in-grey-600">Status</span></th>
          <th>
            <span class="in-grey-600">Total</span></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to order_path(order), class: "nav-link" do %>
              <span class="general-order-number">
                <%= order.number %>
              </span>
            <% end %>
          <td>
            <span class="in-grey-900 font-16 fw-300"><%= order.date %></span></td>
          <td>
            <span class="font-16 in-grey-900 fw-300"><%= order.status_capitalize %></span></td>
          <td>
            <strong class="font-16"><%= number_to_currency(order.total_price, unit: "€") %></strong>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
