<main class="container">
  <% if params[:category] %>
    <h1 class="general-title-margin"><%= BooksDecorator.new(params[:category]).category_title %></h1>
  <% else %>
    <h1 class="general-title-margin"><%= I18n.t('views.books.catalog') %></h1>
  <% end %>
  <div class="hidden-xs clearfix">
    <div class="dropdowns pull-right">
      <div class="dropdown width-240">
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small"><%= I18n.t('models.book.newest') %>
          <i class="fa fa-angle-down dropdown-icon pull-right"></i>
        </a>
        <%= render 'books/filter' %>
      </div>
    </div>
    <ul class="list-inline pt-10 mb-25 mr-240">
      <li class="mr-35">
        <a href="<%= books_path %>" class="filter-link"><%= I18n.t('views.books.all') %>
          <span class="badge general-badge"><%= Book.count %></span></a>
      </li>
      <% @categories.each do |category| %>
        <li class="mr-35">
          <a href="<%= books_path(category: category.id) %>" class="filter-link"><%= category.title %>
            <span class="badge general-badge"><%= category.books.count %></span></a>
        </li>
      <%end%>
    </ul>
  </div>
  <div class="dropdowns mb-25 visible-xs">
    <p class="lead small mb-10"><%= I18n.t('views.books.filter') %></p>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small"><%= I18n.t('models.book.newest') %>
        <i class="fa fa-angle-down dropdown-icon pull-right"></i>
      </a>
      <ul class="dropdown-menu">
        <li class="mr-35">
          <a href="<%= books_path %>" class="filter-link"><%= I18n.t('views.books.all') %>
            <span class="badge general-badge"><%= Book.count %></span></a>
        </li>
        <% @categories.each do |category| %>
          <li class="mr-35">
            <a href="<%= books_path(category: category.id) %>" class="filter-link"><%= category.title %>
              <span class="badge general-badge"><%= category.books.count %></span></a>
          </li>
        <%end%>
      </ul>
    </div>
    <p class="lead small mb-10"><%= I18n.t('views.books.sort_by') %></p>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small"><%= I18n.t('models.book.newest') %>
        <i class="fa fa-angle-down dropdown-icon pull-right"></i>
      </a>
      <%= render 'books/filter' %>
    </div>
  </div>
  <div class="mb-120">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-xs-6 col-sm-3">
          <div class="general-thumb-wrap">
            <div class="thumbnail general-thumbnail">
              <img src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book" class="img-shadow general-thumbnail-img"/>
              <div class="thumb-hover">
                <div class="general-thumb-link-wrap">
                  <a href="<%= book_path(book) %>" class="thumb-hover-link">
                    <i aria-hidden="true" class="fa fa-eye thumb-icon"></i>
                  </a>
                  <a href="#" class="thumb-hover-link">
                    <i class="fa fa-shopping-cart thumb-icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="general-thumb-info">
            <p class="title"><%= book.title %></p>
            <p class="font-16 in-gold-500"><%= book.price %></p>
            <span class="divider-sm"></span>
            <p class="lead small"><%= book.authors.map { |author| author.firstname }.join(", ") %></p>
          </div>
        </div>
      <%end%>
    </div>
    <div class="text-center">
      <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
  </div>
</main>
