%main.container
  - if params[:category]
    %h1.general-title-margin= @category_title
  - else
    %h1.general-title-margin= I18n.t('views.books.catalog')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          = @sort
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        = render 'filter'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: books_path}
          = I18n.t('views.books.all')
          %span.badge.general-badge= Book.count
      - @categories.each do |category|
        %li.mr-35
          %a.filter-link{href: "#{books_path(category: category.id)}"}
            = category.title
            %span.badge.general-badge= category.books.count
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= I18n.t('views.books.filter')
    .dropdown
      %a.dropdown-toggle.lead.small{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
        = @sort
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li.mr-35
          %a.filter-link{href: books_path}
            = I18n.t('views.books.all')
            %span.badge.general-badge= Book.count
        - @categories.each do |category|
          %li.mr-35
            %a.filter-link{href: "#{books_path(category: category.id)}"}
              = category.title
              %span.badge.general-badge= category.books.count
    %p.lead.small.mb-10= I18n.t('views.books.sort_by')
    .dropdown
      %a.dropdown-toggle.lead.small{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
        = @sort
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      = render 'filter'
  .mb-120
    #records_table.row
      = render 'books'
    #div_next_link.text-center
      = render 'next_link'
