<main class="container">
  <a href="<%= books_path %>" class="general-back-link">
    <i class="fa fa-long-arrow-left mr-15"></i><%= I18n.t('views.books.results') %></a>
  <div class="row">
    <div class="col-sm-6">
      <div class="product-gallery">
        <div class="mb-20">
          <img class="img-responsive">
            <%= link_to @book.images.first.url do %>
            <%= image_tag @book.images.first.url, alt: "design-book" %>
          <% end %>
        </img>
      </div>
      <div class="images clearfix">
        <% @book.images.drop(1).each do |image| %>
          <a class="img-link">
            <img>
              <%= image_tag image.url(:thumb) %>
            </img>
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h1 class="mt-res-0"><%= @book.title %></h1>
    <p class="lead small">
      <%= BookDecorator.new(@book).author_full_name %>
    </p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="h1 in-gold-500 mt-10"><%= number_to_currency(@book.price, unit: "€") %></p>
      </div>
      <%= simple_form_for @item, method: :post do |f| %>
        <div class="col-xs-5 col-md-3">
          <div class="input-group general-position">
            <a href="#" class="input-link" id="minus">
              <i class="fa fa-minus line-height-40"></i>
            </a>
            <%= f.text_field :quantity, value: 1, class: "form-control quantity-input" %>
            <a href="#" class="input-link" id="plus">
              <i class="fa fa-plus line-height-40"></i>
            </a>
          </div>
        </div>
        <div class="col-xs-7 col-md-5">
          <%= f.hidden_field :book_id, value: @book.id %>
          <%= f.submit I18n.t('views.books.add_to_cart'), class: "btn btn-default pull-right general-position" %>
        </div>
      <% end %>
    </div>
    <div class="general-info-wrap divider-lg">
      <p><%= I18n.t('views.books.book_description') %></p>
      <p class="lead small line-height-2">
        <% unless @book.description.size < 250 || params[:flag] %>
          <%= truncate(@book.description, :length => 250) %>
          <a href="<%= book_path(flag: true) %>" class="in-gold-500 ml-10"><%= I18n.t('views.books.read_more') %></a>
        <% else %>
          <%= @book.description %>
        <% end %>
      </p>
    </div>
    <div class="general-info-wrap divider-lg">
      <div class="clearfix">
        <p class="pull-left"><%= I18n.t('views.books.year') %></p>
        <p class="lead small pull-right"><%= @book.year %></p>
      </div>
    </div>
    <div class="general-info-wrap divider-lg">
      <div class="clearfix">
        <p class="pull-left"><%= I18n.t('views.books.dimensions') %></p>
        <p class="lead small pull-right">H:<%= @book.dimension_h %>" x W:
          <%= @book.dimension_w %>" x D:
          <%= @book.dimension_d %></p>
      </div>
    </div>
    <div class="general-info-wrap divider-lg">
      <div class="clearfix">
        <p class="pull-left"><%= I18n.t('views.books.materials') %></p>
        <p class="lead small pull-right"><%= @book.material %></p>
      </div>
    </div>
  </div>
</div>
<div class="mb-80">
  <h3 class="in-gold-500 mb-25"><%= I18n.t('views.books.reviews') %>
    (<%= @book.reviews.count %>)</h3>
  <% @book.reviews.each do |review| %>
    <% if review.publish == true %>
      <div class="general-message-wrap divider-lg">
        <div class="clearfix">
          <span class="img-circle logo-size inlide-block pull-left logo-empty"><%= review.user.email.chars.first %></span>
          <div class="ml-70">
            <div>
              <div class="general-message-date hidden-xs"><%= review.created_at.strftime("%d/%m/%y") %></div>
              <div class="max-240">
                <div class="general-message-verified pull-right"><%= I18n.t('views.books.verified_reviewer') %></div>
                <div class="general-message-name"><%= review.user.email %></div>
              </div>
            </div>
            <div class="mb-15">
              <% review.rating.times do %>
                <i class="fa fa-star rate-star"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="fa fa-star rate-empty"></i>
              <% end %>
            </div>
            <div class="general-message-name"><%= review.title %></div>
            <p><%= review.comment %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% if user_signed_in? %>
  <%= render 'reviews/form' %>
<% end %>
</main>
