<div class="row">
  <% if @address %>
    <% if @address.cast == 'billing' %>
      <%= simple_form_for @address, html: { id: 'billing' } do |f| %>
        <%= render 'addresses/billing', f: f %>
      <% end %>
      <%= simple_form_for @addresses.shipping.first_or_initialize, html: { id: 'shipping' } do |f| %>
        <%= render 'addresses/shipping', f: f %>
      <% end %>
    <% else %>
      <%= simple_form_for @addresses.billing.first_or_initialize, html: { id: 'billing' } do |f| %>
        <%= render 'addresses/billing', f: f %>
      <% end %>
      <%= simple_form_for @address, html: { id: 'shipping' } do |f| %>
        <%= render 'addresses/shipping', f: f %>
      <% end %>
    <% end %>
  <% else %>
    <%= simple_form_for @addresses.billing.first_or_initialize, html: { id: 'billing' } do |f| %>
      <%= render 'addresses/billing', f: f %>
    <% end %>
    <%= simple_form_for @addresses.shipping.first_or_initialize, html: { id: 'shipping' } do |f| %>
      <%= render 'addresses/shipping', f: f %>
    <% end %>
  <% end %>
</div>
