#address.tab-pane.fade.in.active.general-main-wrap{role: "tabpanel"}
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle.mt-0= t('views.addresses.billing')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle.mt-0= t('views.addresses.shipping')
  .row
    .div#billing_address
      = simple_form_for AddressService.new(current_user, @address).billing do |f|
        .col-md-5.mb-40
          .visible-xs.visible-sm
            %h3.general-subtitle.mt-0= t('views.addresses.billing')
          = render 'form_fields', f: f, cast: "billing"
    .div#shipping_address
      = simple_form_for AddressService.new(current_user, @address).shipping do |f|
        .col-md-5.col-md-offset-1.mb-25
          .visible-xs.visible-sm
            %h3.general-subtitle.mt-0= t('views.addresses.shipping')
          = render 'form_fields', f: f, cast: "shipping"
