%p
  = t('views.devise.registrations.hello', email: @resource.email)
%p
  = t('views.devise.registrations.change_your_password_text')
%p= link_to t('views.devise.registrations.change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p
  = t('views.devise.registrations.ignore_this_email')
%p
  = t('views.devise.registrations.create_new_password')
