.mb-80
  %h3= I18n.t('views.books.write_review')
  = simple_form_for ([@book, @book.reviews.build]) do |f|
    .col-md-8
      .mb-40
        #rating-form
          = f.label :rating, t('views.reviews.score'), class: "control-label input-label in-grey-600"
        = f.label :title, t('views.reviews.title'), class: "control-label input-label in-grey-600"
        = f.input :title, label: false, class: "form-control"
        = f.label :comment, t('views.reviews.review'), class: "control-label input-label in-grey-600"
        = f.input :comment, label: false, class: "form-control"
        = f.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden' }
        = f.input :book_id, label: false, input_html: { value: @book.id, type: 'hidden' }
      .text-right
        = f.button :submit, t('views.reviews.post'), class: "btn btn-default mb-20"
:javascript
  $('#rating-form').raty({path: '/assets/', scoreName: 'review[rating]'});
