<main class="container general-main-wrap">
  <h1 class="general-title-margin">Cart</h1>
  <div class="visible-xs">
    <% @items.each do |item| %>
      <div class="general-cart-item divider-lg-bottom">
        <button type="button" aria-label="Close" class="close general-cart-close">
          <span aria-hidden="true">&times;</span></button>
        <div class="general-img-wrap-table">
          <%= image_tag item.book.images.first.url(:thumb), class: "cart-img-shadow pull-left", alt: "design-book" %></div>
        <p class="title"><%= item.book.title %></p>
        <table class="table">
          <tr>
            <td>
              <span class="in-grey-600">Price</span></td>
            <td>
              <span class="font-16 in-gold-500"><%= item.book.price %></span></td>
          </tr>
          <tr>
            <td class="vertical-middle">
              <span class="in-grey-600">Quantity</span></td>
            <td>
              <div class="input-group">
                <%= link_to line_item_path(id: item.id, quantity: :minus), class: "input-link", method: :put do %>
                <i class="fa fa-minus line-heaght-40"></i>
              <% end %>
              <input type="text" value="<%= item.quantity %>" class="form-control quantity-input"/>
              <%= link_to line_item_path(id: item.id, quantity: :plus), class: "input-link", method: :put do %>
              <i class="fa fa-plus line-heaght-40"></i>
            <% end %>
            </div>
            </td>
          </tr>
          <tr>
            <td>
              <span class="in-grey-600">SubTotal</span></td>
            <td>
              <span class="font-16 in-gold-500"><%= item.total_price %></span></td>
          </tr>
        </table>
      </div>
      <div class="general-cart-item divider-lg-bottom mb-30">
        <%= link_to line_item_path(item), class: "close general-cart-close", method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
        <div class="general-img-wrap-table">
          <%= image_tag item.book.images.first.url(:thumb), class: "cart-img-shadow pull-left", alt: "design-book" %></div>
        <p class="title"><%= item.book.title %></p>
        <table class="table">
          <tr>
            <td>
              <span class="in-grey-600">Price</span></td>
            <td>
              <span class="font-16 in-gold-500"><%= item.book.price %></span></td>
          </tr>
          <tr>
            <td class="vertical-middle">
              <span class="in-grey-600">Quantity</span></td>
            <td>
              <div class="input-group">
                <%= link_to line_item_path(id: item.id, quantity: :minus), class: "input-link", method: :put do %>
                <i class="fa fa-minus line-heaght-40"></i>
              <% end %>
              <input type="text" value="<%= item.quantity %>" class="form-control quantity-input"/>
              <%= link_to line_item_path(id: item.id, quantity: :plus), class: "input-link", method: :put do %>
              <i class="fa fa-plus line-heaght-40"></i>
            <% end %>
            </div>
            </td>
          </tr>
          <tr>
            <td>
              <span class="in-grey-600">SubTotal</span></td>
            <td>
              <span class="font-16 in-gold-500"><%= item.total_price %></span></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
  <div class="hidden-xs">
    <table class="table table-hover">
      <tr class="no-hover">
        <th class="col-pic pl-0">
          <span class="in-grey-600">Product</span></th>
        <th class="col-title"></th>
        <th class="col-price">
          <span class="in-grey-600">Price</span></th>
        <th class="col-quantity">
          <span class="in-grey-600">Quantity</span></th>
        <th class="col-total">
          <span class="in-grey-600">SubTotal</span></th>
        <th class="col-close"></th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td>
            <div class="general-img-wrap-table">
              <%= image_tag item.book.images.first.url(:thumb), class: "cart-img-shadow pull-left", alt: "design-book" %>
            </div>
          </td>
          <td>
            <p class="title"><%= item.book.title %></p>
          </td>
          <td>
            <span class="font-16 in-gold-500"><%= item.book.price %></span></td>
          <td>
            <div class="input-group">
              <%= link_to line_item_path(id: item.id, quantity: :minus), class: "input-link", method: :put do %>
              <i class="fa fa-minus line-heaght-40"></i>
            <% end %>
            <input type="text" value="<%= item.quantity %>" class="form-control quantity-input"/>
            <%= link_to line_item_path(id: item.id, quantity: :plus), class: "input-link", method: :put do %>
            <i class="fa fa-plus line-heaght-40"></i>
          <% end %>
          </div>
        </td>
      <td>
        <span class="font-16 in-gold-500"><%= item.total_price %></span></td>
      <td>
        <%= link_to line_item_path(item), class: "close general-cart-close", method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
<div class="general-order-wrap">
<div class="row">
<div class="col-sm-4">
  <%= render 'coupon_form' %>
</div>
<div class="col-sm-8">
  <div class="res-mr-200 text-center general-text-right">
    <p class="in-gold-500 font-18">Order Summary</p>
    <table class="general-summary-table general-summary-table-right general-text-right">
      <tr>
        <td>
          <p class="font-16">Subtotal:</p>
        </td>
        <td>
          <p class="font-16">€<%= current_order.total_price %></p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="font-16">Coupon:</p>
        </td>
        <td>
          <p class="font-16">€<%= current_order.discount %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong class="font-18">Order Total:</strong>
        </td>
        <td>
          <strong class="font-18">€<%= current_order.total_order_price %></strong>
        </td>
      </tr>
    </table>
    <button class="btn btn-default mb-20 visible-xs-inline-block">Checkout</button>
  </div>
</div>
</div>
</div>
<a href="<%= checkout_path(:login) %>">
  <button class="btn btn-default mb-20 hidden-xs center-block">Checkout</button>
</a>
</main>
